# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# File to Load (Remember to Change These)
csvpath = os.path.join("..","WeatherPy","output_data","cities.csv")
print(csvpath)


# Read Purchasing File and store into Pandas data frame
cities = pd.read_csv(csvpath,delimiter=",")
cities.head(2)

../WeatherPy/output_data/cities.csv

,City,Lat,Lng,Temperature,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Touros,-5.1989,-35.4608,27.00,27.00,78,40,2.57,BR,1613268475
1,Qaanaaq,77.4840,-69.3632,-13.55,-13.55,76,0,2.63,GL,1613268476

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [4]:
# Store 'Lat' and 'Lng' into  locations 
locations = cities[["Lat", "Lng"]].astype(float)

# Convert Humidity to float and store
humidity = cities["Humidity"].astype(float)

In [5]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=humidity.max(),
                                 point_radius = 5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
#Filtering dataframe to get ideal weather conditions: Temp between 25 to 34, 
#Cloudiness less than 30% and Wind Speed Less than 10km/h

filtered_df = cities.loc[(cities["Temperature"] >=25) & 
                        (cities["Temperature"] < 30) & 
                        (cities["Cloudiness"] < 30) &
                        (cities["Wind Speed"] < 10)
                       ]
#filtered_df = filtered_df[:2]
filtered_df

,City,Lat,Lng,Temperature,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
27,Alice Springs,-23.7000,133.8833,29.00,30.56,47,2,4.12,AU,1613268483
31,Faanui,-16.4833,-151.7500,27.72,27.72,68,27,2.08,PF,1613268485
42,George Town,5.4112,100.3354,26.74,28.00,73,20,1.54,MY,1613268488
49,Manaure,11.7751,-72.4445,26.14,26.14,76,0,7.69,CO,1613268490
54,Oranjestad,12.5240,-70.0270,27.00,27.00,78,20,8.23,AW,1613268266
59,Busselton,-33.6500,115.3333,25.56,25.56,51,0,0.89,AU,1613268492
62,Padang,-0.9492,100.3543,28.00,28.00,78,20,1.03,ID,1613268493
74,Atuona,-9.8000,-139.0333,26.34,26.34,78,1,7.03,PF,1613268497
91,Guarapari,-20.6667,-40.4975,25.28,25.56,83,0,2.57,BR,1613268502
142,Montecristo,8.2971,-74.4733,25.47,25.47,77,4,0.84,CO,1613268516
149,Wodonga,-36.1167,146.8833,25.45,27.78,50,0,2.06,AU,1613268518
164,Kétou,7.3633,2.5998,26.78,26.78,79,0,2.19,BJ,1613268242
165,Banda Aceh,5.5577,95.3222,27.79,27.79,73,10,2.19,ID,1613268522
193,Bodden Town,19.2833,-81.2500,26.20,27.00,74,20,4.12,KY,1613268530
196,St. George's,12.0564,-61.7485,26.00,26.00,78,20,6.17,GD,1613268531
199,Vila Velha,-20.3297,-40.2925,25.29,25.56,83,0,2.57,BR,1613268495
205,Port Augusta,-32.5000,137.7667,25.67,27.22,60,0,7.20,AU,1613268533
206,Bathsheba,13.2167,-59.5167,26.00,26.00,69,20,9.26,BB,1613268533
231,Oistins,13.0667,-59.5333,26.00,26.00,69,20,9.26,BB,1613268540
251,Cabedelo,-6.9811,-34.8339,25.00,25.00,100,20,2.57,BR,1613268546
324,Jussara,-23.6214,-52.4694,26.00,26.00,65,20,0.52,BR,1613268566
338,Esim,4.8699,-2.2405,26.88,26.88,85,2,4.75,GH,1613268571
385,Galesong,-5.3166,119.3661,26.00,26.00,94,20,2.57,ID,1613268583
398,Sibu,2.3000,111.8167,25.00,25.00,94,20,1.03,MY,1613268587
420,Belmonte,-15.8631,-38.8828,25.00,25.00,78,20,5.14,BR,1613268593
442,Muisne,0.6000,-80.0333,25.23,25.23,83,19,1.04,EC,1613268599
453,Iquitos,-3.7481,-73.2472,25.00,25.00,94,20,0.92,PE,1613268604
478,Savalou,7.9281,1.9756,27.14,27.14,70,0,2.35,BJ,1613268613

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
#Looking for lodging within 5,000 m from the city location with the ideal weather conditions. Skipping where
# there are no lodging
target_type = "lodging"
radius = 5000
latitude = list(filtered_df["Lat"])
longitude = list(filtered_df["Lng"])

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

result_lat = []
result_lon = []
hotel_name = []
city_name = []
country_name = []

for x in range(len(latitude)):
    params = {
            "location": f"{latitude[x]},{longitude[x]}",    
            "types": target_type,
            "radius": radius,
            "key": g_key
        }

    response = requests.get(base_url, params = params).json()
    
    try:
        
        result_lat.append(response["results"][0]["geometry"]["location"]["lat"])
        result_lon.append(response["results"][0]["geometry"]["location"]["lng"])
        hotel_name.append(response["results"][0]["name"])
        city_name.append(response["results"][0]["vicinity"])
        country_name.append(response["results"][0]["plus_code"]["compound_code"])
    
    except:
        print(f"lodging for lat {latitude[x]} and longitude {longitude[x]} not found within 5km")
        pass

lodging = {"Hotel Name": hotel_name,
             "City": city_name,
             "Country": country_name,
             "Lat": result_lat,
             "Lon": result_lon
          }

In [8]:
hotel_df =pd.DataFrame(lodging)
hotel_df.head()

,Hotel Name,City,Country,Lat,Lon
0,Desert Palms Alice Springs,"74 Barrett Drive, Alice Springs","7VPH+JW Alice Springs NT, Australia",-23.713395,133.879820
1,Bora-Bora Pearl Beach Resort & Spa,Vaitape,"G6FH+J2 Bora-Bora, French Polynesia",-16.475941,-151.772479
2,Cititel Penang,"66, Jalan Penang, George Town","C8CM+H5 George Town, Penang, Malaysia",5.421404,100.332934
3,Hotel Palaaima,"Carrera 6 No. 7-34 Manaure, La Guajira","QHG4+58 Manaure, La Guajira, Colombia",11.775445,-72.444160
4,Divi Village Golf & Beach Resort,"J.E. Irausquin Boulevard 93, Oranjestad","GWPV+H5 Oranjestad, Aruba",12.536474,-70.057013

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
hotel_locations = hotel_df[["Lat", "Lon"]].astype(float)

In [10]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(hotel_locations, info_box_content = hotel_info)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=humidity.max(),
                                 point_radius = 5)
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Display figure

fig

Figure(layout=FigureLayout(height='420px'))